.setting-btn {
    position: fixed;
    border: none;
    top: 16px;
    right: 16px;
    z-index: 1000;
    background-color: transparent;
    height: 32px;
    width: 32px;
    border-radius: 4px;
    background-image: url("chrome://global/skin/icons/settings.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px;
    height: 32px;
    width: 32px;
    -moz-context-properties: fill;
}

.setting-btn:hover {
    background-color: rgb(233, 229, 224);
}

.setting-btn:active {
    background-color: rgb(233, 229, 224);
    display: none;
}



