.change-wrapper {
    width: 24px;
    height: 14px;
    border: 1px solid rgb(150, 149, 149);
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    transition: background-color 0.25s;
}

.change-ball {
    width: 6px;
    height: 6px;
    outline: 1px solid rgb(150, 149, 149);
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 3px;
    transition: margin-left 0.25s;

}

.change-wrapper:active {
    border: 1px solid rgb(21, 52, 158);
    border-radius: 10px;
    background-color: rgb(21, 69, 201);
}

.change-wrapper:active .change-ball {
    outline: 1px solid rgb(21, 52, 158);
    margin-left: 13px;
}

.personal-setting-contianter {
    width: 432px;
    height: 100%;
    position: fixed;
    top:0;
    right: 0;
    z-index: 999;
    padding: 16px;
    background-color: white;
    -webkit-box-shadow: -16px 0px 36px -22px rgba(66, 68, 90, 1);
    -moz-box-shadow: -16px 0px 36px -22px rgba(66, 68, 90, 1);
    box-shadow: -16px 0px 36px -22px rgba(66, 68, 90, 1);
    opacity: 0;
}

.exit-setting-btn {
    margin-inline-start: auto;
    margin-bottom: 28px;
    white-space: nowrap;
    background-color: rgb(224, 224, 224);
    display: block;
    padding: 8px 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    display: none;
}

.personal-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 32px;
    padding: 0 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.sortcut-section, .recent-section {
    display: grid;
    grid-template-columns: auto 26px;
}

.sortcut-info, .recent-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 13px;
}

.sortcut-info h2, .recent-info h2 {
    font-size: 16px;
}

.sortcut-select {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 7px 13px 7px 10px;
    width: 118px;
    background-color: white;
}

.sortcut-checkbox {
    display: inline-flex;
    gap: 6px;
    align-items: center;
}

#sponsor {
    width: 16px;
    height: 16px;
    border: none;
}

.more-btn {
    background: url("chrome://global/skin/icons/settings.svg") left no-repeat;
    background-size: 16px;
    padding-inline-start: 14px;
    white-space: nowrap;
    width: 128px;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.more-btn:hover {
    text-decoration: underline;
}


